{% extends "base.html" %}

{% block block_1 %}
{% set pr = "Каюта №" %}
<div align="center" class="alert alert-warning" role="alert">Размещение по каютам</div>
<br>
{% for elem in astr %}
    {% if loop.first %}
        <div class="shadow-lg p-3 mb-5 rounded bg-info text-white">
            {{elem}} - {{ pr }} {{loop.index}} - капитан корабля
        </div>
    {% else %}
        <div class="shadow-lg p-3 mb-5 rounded bg-success text-white">
            {{elem}} - {{ pr }} {{loop.index}}
        </div>
    {% endif %}
    <br>
{% endfor %}

{% endblock %}